{% extends 'AppDefaultBundle::base.html.twig' %}
{% form_theme form 'AppDefaultBundle:Form:form_row.html.twig' %}

{% block title %}{{ 'layout.register' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(form) }}
        <div class="modal-header">
          <h2 class="modal-title">{{ 'layout.register' | trans({}, 'FOSUserBundle') }}</h2>
        </div>
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>

        <div class="modal-footer">
          <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit' | trans({}, 'FOSUserBundle') }}" class="btn btn-success btn-lg" />
          <input type="button" id="cancel" name="cancel" value="{{ 'common.cancel'| trans }}" class="btn btn-default btn-lg" onclick="window.location='{{ path('index') }}'"/>
        </div>
      {{ form_end(form) }}
    </div><!-- /.modal-content -->
</div>
{% endblock %}
